<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Magno Valdetaro</title>

    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="{{page.description}}" />

    <!-- Facebook -->
    <meta property="og:title" content="Magno Valdetaro"/>
    <meta property="og:site_name" content="Magno Valdetaro"/>
    <meta property="og:url" content="http://magnovaldetaro.com.br{{page.url}}"/>
    <meta property="og:image" content="http://magnovaldetaro.com.br/assets/img/fb-avatar.jpg"/>
    <meta property="og:type" content="blog"/>
    <meta property="og:description" content="{{page.description}}"/>

    <!-- Twitter Analytics -->
    <meta property="twitter:account_id" content="15278873" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.url }}assets/favicon.ico" type="image/x-icon" />

    <!-- Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>

    <!-- Feed -->
    <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/mvaldetaro">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ site.url }}assets/css/main.min.css" type="text/css" />

    <!-- jQuery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Prefixfree -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

    <!-- Modernizr -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js'></script>

  </head>

  <body>