{% include head.html %}
<div class="warp">
  <!-- menu -->
  {% include menu.html %}
  <!-- /menu -->
  {% include header.html %}
  <!-- content -->
  <div class="container fix-bar">
    <!-- sidebar -->
    {% include sidebar.html %}
    <!-- /sidebar -->
    <div class="col-3-4">
      <section id="content" class="recent-posts">
        {% for post in site.posts limit:10 %}
        {% include post_detail.html %}
        {% endfor %}
      </section>
      <!-- <div class="more-posts clearfix">
        <div class="loader more">
        </div>
      </div> -->
    </div>
  </div>
  <!-- /content -->
</div>
{% include footer.html %}
